.container {
    height: calc(100vh - 160px);
    position: relative;
    transform: translateY(160px);
    /* display: flex;
    justify-content: center;
    align-content: center; */
    background-color: white;
}

.half {
    width: 50%;
    float: left;
}

.grid-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 460px;
    margin: 30px;
}

#thumbnails {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    top: -5px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    border: none;
}

.thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: ease 0.5s;
}

.about {
    background-color: #d3d3d3;
}

/* #photo {
    width: 100%;
} */

/* class added to each gallery image, NOT the div containing it */
.gallery {
    max-width: 600px;
    width: 100%;
    height: auto;
}

#gallery0 {
    width: 100%;
}

#controls {
    margin: 15px;
    justify-content: center;
}