.container {
    min-height: calc(100vh - 160px);
    position: relative;
    transform: translateY(160px);
    background-color: white;
}


.project-desc {
    max-width: 900px;
    position: relative;
    left: 50%;
    margin-left: -450px;
    margin-bottom: 50px;
}

.project-desc p {
    line-height: 1.6em;
    text-align: justify;
}

.project-desc h1 {
    padding-bottom: 50px;
}
/* container for the grid profiles */
.profile-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.profile {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "icon description"
        "main main";
    grid-gap: 50px 20px;
    align-items: center;
    width: 460px;
}

.profile h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 2px;
}

.profile p {
    line-height: 1.5em;
}

.icon {
    width: 100px;
    height: 100px;
    grid-area: icon;
    justify-self: center;
    align-self: center;
}

.prof-description {
    grid-area: description;
}

.gray {
    color: gray;
}

/* each profile is contained within a grid-container */
.grid-container {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 460px;
}
.thumbnail {
    width: 150px;
    height: 150px;
    border: none;
}


/* .main {
    grid-area: main;
} */

.thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: ease 0.5s;
}

/* .about {
    background-color: #d3d3d3;
} */

/* .half {
    width: 50%;
    float: left;
} */

/* #photo {
    width: 100%;
} */

/* #thumbnails {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    top: -5px;
} */

#modal {
    z-index: -9999;
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

/* class added to each gallery image, NOT the div containing it */
#photo-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-350px, -350px);
    width: 700px;
    height: auto;
}

.photo {
    width: 100%;
}

#gallery0 {
    width: 100%;
}

#close-modal {
    float: right;
}

.controls {
    position: absolute;
    font-size: 30px;
    z-index: 999;
}

#back-button {
    top: calc(50% - 25px);
    left: 20px;
}

#forward-button {
    top: calc(50% - 25px);
    right: 20px;
}

@media only screen and (max-width: 1500px) {
    .profile-container {
        flex-flow: column wrap;
        justify-content: center;
    }

    .profile {
        margin-bottom: 100px;
        width: 610px;
    }

    .thumbnail {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .project-desc {
        left: 0;
        margin-left: 5px;
        padding: 10px;
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 700px) {
    #photo-div {
        width: 100%;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .photo {
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 625px) {
    .thumbnail {
        width: 100%;
        height: auto;
    }

    .profile {
        width: 100%;
    }

    .grid-container {
        width: calc(100% + 10px);
        justify-items: center;
    }
}