/* global styling */
html {
    font-size: 18px !important;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
    background-image: url('images/base-img.jpg');
    
    /* color: #3f3f3f; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h2 {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-size: 5em;
    margin-top: 0px;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #474747;
    padding: 10px 10px;
}

a:hover {
    text-decoration: none;
    color: #474747;
}

a:active {
    text-decoration: none;
}

button {
    font-weight: bold;
    padding: 15px 15px;
    background-color: #DAF186;
    border: none;
    color: black;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
    background-color: rgb(199, 223, 115);
    color: black;
    border: none;
    -webkit-transition: background-color .3s; /* Safari */
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;      
    transition: background-color .3s;
}

.button-pink {
    background-color: #FF688F;
}

.button-pink:hover {
    background-color: rgb(255, 79, 123);
}

/* Custom style classes */

.display {
    font-size: 5.5em;
    line-height: .8em;
    letter-spacing: -0.06em;
}

h1.display {
    margin: 0px;
}

.sectionTitle {
    font-family: Consolas;
    color: #c1c1c1;
    font-style: italic;
}

.subheading {
    line-height: 1.5em;
    font-size: 1.8em;
}

.description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    padding: 100px;
}

.caption {
    font-style: italic;
    font-size: .8em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.flex-container-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.flex-item {
    margin: 20px;
}

.padding-sm {
    padding: 20px;
}

.padding-md {
    padding: 50px;
}

.padding-lg {
    padding: 100px;
}

.rm-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.rm-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.text-block {
    width: 500px;
    padding: 40px;
}

.text-block p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.section {
    margin-bottom: 100px;
    display: block;
}

.section-padding {
    height: 100vh;
}

.pink {
    color: #FF688F;
}

.pink-fill {
    background-color: #FF688F;
}

.green {
    color: #DAF186;
}

.center {
    text-align: center;
}

.anchor-div {
    background-color: white;
    width: 100%;
    position: relative;
}

.anchor-div a {
    position: absolute;
    left: 0px;
    top: -250px;
}




/* element-specific styling */

/* Header styling */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
}

#header h1 {
    margin: 20px 20px;
    font-size: 2.8em;
    line-height: .8em;
    letter-spacing: -0.07em;
    color: #dedede;
}

#header h1 > a {
    color: #eeeeee;
    padding: 0px 0px;
}

#header h1 > a:hover {
    color: #DAF186;
    transition: 0.3s;
}

#navMenu {
    font-weight: bold;
}

#navMenu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#navMenu li {
    display: inline-block;
    padding: 10px 20px;
}

#navMenu a:hover {
    background-color: #DAF186;
    transition: 0.3s;
} 

#navMenu a:visited {
    background-color: #DAF186;
}

/* mobile header stying */
#mobile-header-icon {
    text-align: right;
    position: fixed;
    background-color: white;
    width: 100%;
    display: none;
    font-size: 80px;
    padding-right: 15px;
    font-family: 'Helvetica Light', 'Helvetica';
}

#mobile-header-icon:hover {
    cursor: pointer;
}

#mobile-menu {
    display: none;
    background-color: red;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 9999;
}


/* Main content styling */

#main {
    transform: translateY(100px);
    background-attachment: fixed;
    /* background-color: #DAF186; */
}


/* On exhibit section */
#on-exhibit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 150px;
}


/* image styling */
img#exhibitThumbnail{
    /* width: 80%; */
    height: auto;
    max-width: 500px;
    max-height: 500px;
    margin: 50px;
    /* transform: translateX(12.5%); */
}

#exhibitDesc {
    width: 500px;
    margin: 50px;
    text-align: center;
}

/* About section */
#about {
    margin-bottom: 0px;
    padding-bottom: 100px;
}

#about-header {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#display-left {
    padding-right: 20px;
}

/* Responsive styling */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 16px !important;
    }
    
    #on-exhibit {
        flex-direction: column;
    }

    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #about-header {
        padding: 50px;
    }

    .display {
        font-size: 5em;
    }

    /* hide normal header and show mobile icon */
    #header {
        display: none;
        z-index: -9999;
    }

    #mobile-nav {
        z-index: 9999;
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .display {
        font-size: 4em;
    }
}

@media only screen and (max-width: 746px) {
    html {
        font-size: 15px !important;
    }
    
    img#exhibitThumbnail {
        width: calc(100% - 20px);
    }
    

    #exhibitDesc {
        width: 100%;
        max-width: 500px;
    }
    
    .text-block {
        width: calc(100% - 20px);
        padding: 10px;
    }

    .display {
        font-size: 4em;   
    }

    .description {
        padding: 60px 30px;
    }

    #about-header {
        flex-direction: column;
        padding: 5px;
    }
}