
html {
  margin: 0;
  padding: 0;
  background: #090909;
  color: #ffffff;
}

body {
  font-family: "Courier New";
}

h1 {
  color: #ffffff;
  font-family: "Courier New";
}

.sketch-container {
  display: flex;
  height: 100px;
  width: 100vw;
}

.sketch {
  flex: 1;

}
canvas {
}


.button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-family: "Courier New"
  flex: 1;

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#description {
  display: none;
}

#header {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;

}
