
html {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

body {
  font-family: "Courier New";
}

h1 {
  color: #ffffff;
  font-family: "Courier New";
}

/*.sketch-container {
  display: flex;
  height: 100px;
  width: 100vw;
}

.sketch {
  flex: 1;

}*/
canvas {
}

#button-menu {
  position: absolute;
  top: 80px;
  right: 10px;
}

.button {
  background-color: #000000;
  color: #ffffff;
  border-weight: 1px;
  border-color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-family: "Courier New";
  height: 40px;
}


#info {
  min-height: 100px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#header {
  max-width: 60%;
}

#description {
}

